
#nav-bar>ul{
    font-size: 15px;
    letter-spacing: 1px;
    margin-bottom: 0;
}

#nav-bar li{
    height: 50px;
    padding-right: 2%;
    padding-left: 2%;
    padding-top: 1%;
    border-right: 1px solid #008975;
}

#nav-bar li:hover{
    background-color: #00D1B2;
}

#nav-bar li>a{
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: 12px;
    font-family: 'Roboto', serif;
    color: white;
}
